.logoImage{
    padding-bottom: 10px;
    padding-right: 10px;
}

.logoContainer{
    padding-bottom: 10px;
    padding-right: 10px;
}

.buyButtonText{
    color: white;
}

.searchBarContainer :global(.vtex-input-prefix__group){
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #DCDCDC;
    width: 15rem;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input){
    color: #DCDCDC;
    background-color: #000000;
}

.searchBarIcon{
    color: #DCDCDC;
    border-radius: 0px;
}

.searchBarContainer :global(.vtex-input__suffix){
    border: none;
    border-radius: 0px;
    background-color: #000000;
    max-width: 24rem;
}

.autoCompleteOuterContainer{
    width:min-content;
}

.sellingPrice{
    font-size: 1.25rem;
    color: grey;
    /* background-color:green; */
}

.productNameContainer{
    /* font: "t-heading-1"; */
    font-size: 2.5rem ;
    color: rgb(32, 32, 32);
    
    /* background-color:crimson; */
}